.log
.txt
**/*.log
**/*.txt
ColorPicker/colorHistory.json
PowerToys Run/Settings/QueryHistory-2024-08-23-08-38-17-9375473.json
PowerToys Run/Settings/QueryHistory.json
PowerToys Run/Settings/PowerToysRunSettings.json
PowerToys Run/Settings/ImageCache.json
settings-placement.json
